/* Mirror custom-input styling for date picker */
::ng-deep .custom-date-picker {
  .mat-mdc-form-field-infix {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .mat-mdc-form-field-flex {
    padding: 0 16px;
  }

  .mat-mdc-text-field-wrapper {
    padding: 0px;
  }

  &.h-40 {
    height: 40px;

    .mat-mdc-form-field-infix,
    .mat-mdc-form-field-flex {
      height: 40px !important;
      min-height: 40px !important;
    }
  }

  .mat-mdc-notch-piece.mdc-notched-outline__leading {
    border-color: var(--color-alto);
    border-radius: 4px 0 0 4px;
  }

  .mat-mdc-notch-piece.mdc-notched-outline__trailing {
    border-color: var(--color-alto);
    border-radius: 0 4px 4px 0;
  }

  .mat-datepicker-toggle {
    .mat-mdc-icon-button {
      width: 40px;
      height: 40px;
    }
  }
}
