<div class="flex flex-col gap-1">
  @if (label) {
    <label for="{{ label }}" class="text-sm text-slate-600 font-medium">
      {{ label }}
    </label>
  }
  <mat-form-field
    [id]="label"
    class="custom-date-picker w-full"
    appearance="outline"
    [ngClass]="heightClass"
  >
    @if (prefixText) {
      <span matPrefix class="mr-2 text-sm text-slate-500">
        {{ prefixText }}
      </span>
    }
    @if (prefixIcon) {
      <button
        matPrefix
        type="button"
        class="mr-1 inline-flex items-center justify-center text-slate-500"
        tabindex="-1"
      >
        <mat-icon class="text-base" [fontIcon]="prefixIcon!" />
      </button>
    }

    <input
      matInput
      [matDatepicker]="picker"
      [formControl]="control"
      [placeholder]="placeholder"
      [min]="min"
      [max]="max"
      class="text-sm"
    />
    <mat-datepicker-toggle matIconSuffix [for]="picker" />
    <mat-datepicker #picker />
    @if (hint && !showError) {
      <mat-hint> {{ hint }} </mat-hint>
    }
    @if (showError) {
      <mat-error>Invalid value</mat-error>
    }
  </mat-form-field>
</div>
