<article class="grid grid-cols-3 gap-4" cdkDropListGroup>
  <section class="grid-item">
    <app-tasks-category-container
      [type]="'todo'"
      [tasks]="todoTasks()"
    ></app-tasks-category-container>
  </section>
  <section class="grid-item">
    <app-tasks-category-container
      [type]="'in_progress'"
      [tasks]="inProgressTasks()"
    ></app-tasks-category-container>
  </section>
  <section class="grid-item">
    <app-tasks-category-container
      [type]="'done'"
      [tasks]="doneTasks()"
    ></app-tasks-category-container>
  </section>
</article>
