@utility text-primary {
  color: var(--color-primary);
}

@utility text-white {
  color: var(--color-white);
}

@utility text-black {
  color: var(--color-black);
}

@utility text-gray {
  color: var(--color-gray);
}

@utility text-black {
  color: var(--color-black);
}
