:root {
  --color-main-bg: #f5f7fa;
  --border-radius: 4px;
  --color-alto: #e0e0e0;
  --color-primary: #1976d2;
  --color-apple: #388e3c;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #757575;
  --color-mint-shaft: #212121;
  --color-lavender-blush: #ffebee;
  --color-red: #d32f2f;
  --color-sazerac: #fff3e0;
  --color-gold-drop: #f57c00;
  --color-panache: #fff3e0;
}
