<section
  class="dashboard-filter flex items-center justify-between gap-4 bg-white p-4 rounded-lg"
>
  <mat-button-toggle-group
    name="dashboard-filter"
    aria-label="Dashboard Filter"
    [hideSingleSelectionIndicator]="true"
    class="dashboard-filter-group !border-0 !rounded-none flex items-center gap-2 h-fit"
    [value]="filterType"
    (valueChange)="onFilterTypeChange($event)"
  >
    @for (item of filterTaskStateItems; track item) {
      <mat-button-toggle
        [value]="item.value"
        class="!border-0 !rounded-sm !text-xs"
      >
        {{ item.label | titlecase }}
      </mat-button-toggle>
    }
  </mat-button-toggle-group>

  <div class="flex items-center gap-2">
    <app-custom-button
      icon="add"
      label="New Task"
      (clicked)="onOpenTaskFormModal()"
      cssClass="!rounded !px-4 !py-2 !h-fit"
      labelCssClass="!text-xs"
      iconCssClass="!text-xs"
    ></app-custom-button>
  </div>
</section>
