.dashboard-filter-group {
  --mat-button-toggle-height: 32px;
  --mat-button-toggle-selected-state-background-color: var(--color-primary);
  --mat-button-toggle-selected-state-text-color: var(--color-white);
}
