<article class="task-form flex flex-col gap-1 py-4 max-h-full">
  <section class="flex flex-col gap-1 px-4">
    <h2 class="text-lg font-bold !p-0">
      {{ isEditMode ? "Edit Task" : "New Task" }}
    </h2>
    <mat-divider></mat-divider>
  </section>
  <form
    [formGroup]="form"
    class="flex-1 overflow-y-auto px-4"
    (ngSubmit)="onSubmit()"
  >
    <div class="flex flex-col gap-5 py-2">
      <app-custom-input
        [control]="titleControl"
        label="Title"
        placeholder="Enter task title"
        [type]="'text'"
      />

      <app-custom-textarea
        [control]="descriptionControl"
        label="Description"
        placeholder="Enter task description"
        [rows]="4"
      />

      <app-custom-date-picker
        [control]="dueDateControl"
        label="Due Date"
        placeholder="Choose a date"
      />

      <app-custom-select
        [control]="priorityControl"
        label="Priority"
        placeholder="Select priority"
        [options]="priorityOptions"
      />

      <app-custom-select
        [control]="statusControl"
        label="Status"
        placeholder="Select status"
        [options]="statusOptions"
      />
    </div>
  </form>
  <section class="flex items-center gap-2 pt-4 px-4">
    <app-custom-button
      class="flex-1"
      type="default"
      label="Cancel"
      appearance="outlined"
      cssClass="!rounded"
      (clicked)="onCancel()"
    />
    <app-custom-button
      class="flex-1"
      type="default"
      label="Submit"
      color="primary"
      cssClass="!rounded"
      [disabled]="form.invalid"
      (clicked)="onSubmit()"
    />
  </section>
</article>
