// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use "@angular/material" as mat;
@use "tailwindcss";

@use "assets/theme/variables.scss" as *;
@use "assets/theme/borders.scss" as *;
@use "assets/theme/backgrounds.scss" as *;
@use "assets/theme/typography.scss" as *;
@theme {
  --font-inter: "Inter", sans-serif;
}

:root {
  --font-inter: "Inter", sans-serif;
}

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
        warn: mat.$red-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-inter);
}

.mdc-dialog__surface {
  border-radius: 8px !important;
}

/* Toast: white background, shadow, colored left border */
.toast {
  --mat-sys-inverse-surface: #fff !important;
  color: var(--mat-sys-on-surface, #1f2937) !important;
  // box-shadow:
  //   0 4px 6px -1px rgb(0 0 0 / 0.1),
  //   0 2px 4px -2px rgb(0 0 0 / 0.1) !important;
  border-left: 12px solid transparent;
  border-radius: 6px 0 0 6px;

  .mdc-snackbar__surface {
    border-radius: 0px 4px 4px 0px !important;
  }

  .mat-mdc-snack-bar-label,
  .mat-mdc-button {
    color: var(--color-black) !important;
    font-size: 14px !important;
  }
  &.toast.toast--default {
    border-left-color: var(--color-apple) !important;
  }

  &.toast.toast--warn,
  &.toast.toast--error {
    border-left-color: var(--color-red) !important;
  }
}
