<div class="flex flex-col gap-1">
  @if (label) {
    <label for="{{ label }}" class="text-sm text-slate-600 font-medium">
      {{ label }}
    </label>
  }
  <mat-form-field
    [id]="label"
    class="custom-select w-full"
    appearance="outline"
    [ngClass]="heightClass"
  >
    @if (prefixText) {
      <span matPrefix class="mr-2 text-sm text-slate-500">
        {{ prefixText }}
      </span>
    }
    @if (prefixIcon) {
      <button
        matPrefix
        type="button"
        class="mr-1 inline-flex items-center justify-center text-slate-500"
        tabindex="-1"
      >
        <mat-icon class="text-base" [fontIcon]="prefixIcon!" />
      </button>
    }

    <mat-select
      [formControl]="control"
      [placeholder]="placeholder"
      class="text-sm"
    >
      @for (opt of options; track $index) {
        <mat-option [value]="opt.value">{{ opt.label }}</mat-option>
      }
    </mat-select>

    @if (suffixText) {
      <span matSuffix class="ml-2 text-sm text-slate-500">
        {{ suffixText }}
      </span>
    }
    @if (suffixIcon) {
      <button
        matSuffix
        type="button"
        class="ml-1 inline-flex items-center justify-center text-slate-500"
        tabindex="-1"
      >
        <mat-icon class="text-base" [fontIcon]="suffixIcon!" />
      </button>
    }
    @if (hint && !showError) {
      <mat-hint> {{ hint }} </mat-hint>
    }
    @if (showError) {
      <mat-error>Invalid value</mat-error>
    }
  </mat-form-field>
</div>
